{% extends 'base.html.twig' %}
{% block title %}Modifier le groupe{% endblock %}
{% block groupEdit %}
	<div class="container-sm">
		<h1>Modifier le groupe</h1>
		{{ form(editGroupForm) }}
	</div>
{% endblock %}