{% extends 'base.html.twig' %}
{% block title %}Ajouter une dépense{% endblock %}
{% block expenseCreate %}
	<div class="container-sm">
		<h1>Créer une nouvelle dépense</h1>
		{{ form(createExpenseForm) }}
	</div>
{% endblock %}