includes:
    - /usr/src/app/vendor/phpstan/phpstan-doctrine/extension.neon
    - /usr/src/app/vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    level: max
    paths:
        - src/
    doctrine:
        objectManagerLoader: phpstan/object-manager-loader.php
    symfony:
        containerXmlPath: /usr/src/app/var/cache/dev/App_KernelDevDebugContainer.xml
    scanDirectories:
        - /usr/src/app/var/cache/dev/Symfony/Config